exportPattern("^[[:alpha:]]+")
S3method(summary, NSUM)
S3method(print, summary.NSUM)
S3method(print, NSUM)
importFrom(MASS, fitdistr)
importFrom(MCMCpack, rinvgamma)
importFrom("stats", "rbeta", "rbinom", "rlnorm", "rnorm", "runif")
